.filter-tabs ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-input-bg);
    height: 45px;
    border-radius: 5px;
    width: 250px;
    color: var(--color-text-secondary);
    flex-wrap: wrap;
}
.filter-tabs li{
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.active{
    background-color: var(--color-primary);
    color: white;
}
