.container{
    background-color: var(--color-surface);
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60%;
    max-width: 630px;
    margin:50px auto;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 25px;
}
.task-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.task-controls .searchBar{
    width: 100px;
}