:root {
  /* Primary */
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;

  /* Backgrounds */
  --color-background: #F9F8FF;
  --color-surface: #FFFFFF;
  --color-input-bg: #F1F3FF;
  --color-white: #FFFFFF;

  /* Text */
  --color-text-primary: #0F172A;
  --color-text-secondary: #64748B;
  --color-text-muted: #94A3B8;

  /* Borders */
  --color-border: #E2E8F0;

  /* Status */
  --color-success: #22C55E;
  --color-danger: #EF4444;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
  font-family: Arial, sans-serif;
}
body{
    background-color: var(--color-background);
}
li{
  list-style: none;
}